header{
    background-color: black;
}

.carousel-item{
    height: 700px;
    width: 1500px;
}
.card {
    flex-grow: 1;
    flex-shrink: 1;
}
.nosotros {
    text-justify: ;
}
.card-img-top {
    width: 100%;
    height: auto;
  }